<!--- Jogadores da retro -->
<h3 class="title animated jackInTheBox" *ngIf="mode=='list'">{{ title }}</h3>
  <ol *ngIf="mode=='list'" class="animated flipInX">
    <li *ngFor="let item of players">
      {{ item.name }} • {{ item.points }}
      <button (click)="remove(item)"><i class="far fa-trash-alt"></i></button>
      <button class="pontuar" (click)="setPoint(item)"><i class="fas fa-plus"></i></button>
      <button (click)="removePoint(item)"><i class="fas fa-minus"></i></button>
    </li>
  </ol>

<!--- Formulário para adicionar jogadores -->
<h1 *ngIf="mode=='add'" class="title text-center">Adicionar Jogador</h1>
<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
  <form [formGroup]="form">
      <input type="text" placeholder="Nome" minlength="3" maxlength="23" formControlName="name"><br>
      <p class="text-center">
        <button [disabled]="form.invalid" (click)="add()" class="button">
        <i class="far fa-save"> Salvar</i>
        </button>
      </p>
  </form>
</div>
<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  Novo jogador
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  Cancelar
</button>


